<a href="https://colab.research.google.com/github/JuliaBalakina/Python_ALATA_2023/blob/main/2023_ALaTA_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionaries

A dictionary is like a list, but more general.

A set of indices in a dictionary is called **keys**. Each key maps to a **value**.

The association of a
key and a value is called a key-value pair or sometimes an item.

The curly brackets, {}, represent an empty dictionary.

To add items to the dictionary,you can use square brackets:

In [ ]:
languages = {}
languages ['one']= 'ein'
languages ['two']= 'zwei'
languages ['three']= 'drei'
print(languages)

{'one': 'ein', 'two': 'zwei', 'three': 'drei'}

If we print the dictionary, we see **a key-value pair** with a colon between the key
and value.

The key **'one'** maps the value **'ein'** etc.

The **len** function works on dictionaries; it returns the number of key-value pairs:

In [ ]:
print(len(languages))

3

The **in** operator works on dictionaries; it tells you whether something appears as
a key in the dictionary (appearing as a value is not good enough).

In [ ]:
'one' in languages

True

To see whether something appears as a value in a dictionary, you can use the
method **values**, which returns the values as a type that can be converted to a list,
and then use the **in** operator:

In [ ]:
val = list(languages.values())
print(val)
'zwei' in val

['ein', 'zwei', 'drei']

True

### Example

Suppose you are given a string and you want to count how many times each letter appears.

You could create a dictionary with characters as keys and counters as the
corresponding values.

The first time you see a character, you would add
an item to the dictionary.

After that you would increment the value of an
existing item.

In [ ]:
word = 'banana'
d = dict()
for i in word:
    if i not in d:
        d[i] = 1
    else:
        d[i] = d[i] + 1 ## +=1
print(d)

{'b': 1, 'a': 3, 'n': 2}

Dictionaries have a method called **get** that takes a key and a default value.

If the key appears in the dictionary, get returns the corresponding value; otherwise it
returns the default value.

For example:

In [ ]:
print(languages.get('one'))

ein

In [ ]:
print(languages.get('four'))

None

In [ ]:
print(languages.get('four',0))  ### if there is no key "four", return -0.
print(languages.get('four', 'not found')) ### if there is no key "four", return -"not found".

0
not found

You can delete a single key or clear the entire dictionary using special operations.

In [ ]:
del languages["three"]
print(languages)
languages.clear()
print(languages)

{'one': 'ein', 'two': 'zwei'}
{}

Dictionaries have three methods by which we can generate a list of keys, values, and a list of key-value pairs.

In [1]:
d={'b': 1, 'a': 3, 'n': 2}
print(d.values())
print(d.keys())
print(d.items())

dict_values([1, 3, 2])
dict_keys(['b', 'a', 'n'])
dict_items([('b', 1), ('a', 3), ('n', 2)])

In [ ]:
my_dict = {'swear' : ['maldecir', 'jurar'], 'dream' : ['dormir', 'sue√±o']}
my_dict['swear'] ### a list

['maldecir', 'jurar']

In [ ]:
my_dict['swear'][0] ### we use index in a list of values

'maldecir'

The ***update()*** method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

In [ ]:
x = {'one': 10, 'two': 20, 'three': 10}
y = {'three': 30, 'four': 40, 'five': 50}
x.update(y)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

In [ ]:
z = {'six': 60}
x.update (z)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60}

The **update()** method adds element(s) to the dictionary if the key is not in the dictionary.

If the key is in the dictionary, it updates the key with the new value.

We may use update() method and pass tuple:

In [ ]:
x.update(seven = 70, eight = 80)
print(x)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}

### Loops

In the case of dictionaries, iteration (by default) occurs by keys:

In [ ]:
for i in x:
    print(i)

one
two
three
four
five
six
seven
eight

But the keys can be used to extract the corresponding values.

In [ ]:
for i in x:
    print(x[i])

10
20
30
40
50
60
70
80

You can also directly specify whether we are iterating over keys, over values, or over pairs of key-values:

In [ ]:
print(x)
for v in x.values():
    print(v)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
10
20
30
40
50
60
70
80

In [ ]:
print(x)
for k in x.keys():
    print(k)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
one
two
three
four
five
six
seven
eight

In [ ]:
print(x)
for v in x.items():
    print(v)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60, 'seven': 70, 'eight': 80}
('one', 10)
('two', 20)
('three', 30)
('four', 40)
('five', 50)
('six', 60)
('seven', 70)
('eight', 80)

### Task 1

You will be given an array of objects representing data about developers who have signed up to attend the coding meetup that you are organising for the first time.

Your task is to return the number of JavaScript developers coming from Europe.

For example, given the following list:

lst = [
  { 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },
  
  { 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' },
  
  { 'firstName': 'Shufen', 'lastName': 'L.', 'country': 'Taiwan', 'continent': 'Asia', 'age': 35, 'language': 'HTML' },
  
  { 'firstName': 'Sumayah', 'lastName': 'M.', 'country': 'Tajikistan', 'continent': 'Asia', 'age': 30, 'language': 'CSS' }
]

In [1]:
lst = [{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },{ 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' }]

In [2]:
lst = [
{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },

{ 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' },

{ 'firstName': 'Shufen', 'lastName': 'L.', 'country': 'Taiwan', 'continent': 'Asia', 'age': 35, 'language': 'HTML' },

{ 'firstName': 'Sumayah', 'lastName': 'M.', 'country': 'Tajikistan', 'continent': 'Asia', 'age': 30, 'language': 'CSS' }
]

In [3]:
a = [
{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'JavaScript' },

{ 'firstName': 'Maia', 'lastName': 'S.', 'country': 'Tahiti', 'continent': 'Oceania', 'age': 28, 'language': 'JavaScript' },

{ 'firstName': 'Shufen', 'lastName': 'L.', 'country': 'Taiwan', 'continent': 'Asia', 'age': 35, 'language': 'HTML' },

{ 'firstName': 'Sumayah', 'lastName': 'M.', 'country': 'Tajikistan', 'continent': 'Asia', 'age': 30, 'language': 'CSS' }
]

### Task 2

You will be given an array of objects representing data about developers who have signed up to attend the next coding meetup that you are organising.

Your task is to return:

    **true** if at least one Ruby developer has signed up; or
    **false** if there will be no Ruby developers.

For example, given the following input array:

list = [
    
    { 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' },
    
    { 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' },
    
    { 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' }
    ]

In [4]:
list = [

{ 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' },

{ 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' },

{ 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' }
]

In [5]:
list = [ { 'firstName': 'Sofia', 'lastName': 'I.', 'country': 'Argentina', 'continent': 'Americas', 'age': 35, 'language': 'Java' }, { 'firstName': 'Lukas', 'lastName': 'X.', 'country': 'Croatia', 'continent': 'Europe', 'age': 35, 'language': 'Python' }, { 'firstName': 'Madison', 'lastName': 'U.', 'country': 'United States', 'continent': 'Americas', 'age': 32, 'language': 'Ruby' } ]

### Task 3
Your task is to return an object which includes the count of each coding language represented at the meetup.

For example, given the following input array:

lst = [
    
    { 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },
    
    { 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },
    
    { 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },
    
    { 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
    ]

your should return the following object:

{ 'C': 2, 'JavaScript': 1, 'Ruby': 1 }

In [6]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]

In [7]:
lst = [

{ 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

{ 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

{ 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

{ 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
]

### Task 4

list1 = [

 { 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },
  
  { 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },
  
  { 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' },
]

Your task is to return either:

    **true** if all developers in the list code in the same language; or
    **false** otherwise.

In [8]:
pompom = [

{ 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },

{ 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },

{ 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'JavaScript' }, ]

In [9]:
lst = [

{ 'firstName': 'Daniel', 'lastName': 'J.', 'country': 'Aruba', 'continent': 'Americas', 'age': 42, 'language': 'JavaScript' },

{ 'firstName': 'Kseniya', 'lastName': 'T.', 'country': 'Belarus', 'continent': 'Europe', 'age': 22, 'language': 'JavaScript' },

{ 'firstName': 'Hanna', 'lastName': 'L.', 'country': 'Hungary', 'continent': 'Europe', 'age': 65, 'language': 'C' }, ]