<a href="https://colab.research.google.com/github/JuliaBalakina/Python_ALATA_2023/blob/main/2023_ALaTA_Test_18_10_keys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task 1 (0.5 points)

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

In [ ]:
cel = input ('Temperature in Celsius ')
fahr = 9/5 *int(cel) +32
print ('Temperature in fahrenheit', int(fahr))

### Task 2 (0.5 points)

Help Dasha determine if the year with the given number is a leap year. If the year is a leap year, then output - YES, otherwise output - NO.

Remember that according to the Gregorian calendar, a year is a leap year if its number is divisible by 4, but not divisible by 100, and also if it is divisible by 400.

INPUT FORMAT:

     N - year number (positive integer)

OUTPUT FORMAT:

     Line. "YES" or "NO"

In [ ]:
x = int (input ())
if x % 4 == 0 and x % 100 != 0 or x % 400 == 0:
    print ("YES")
else:
    print ("NO")

### Task 3 (1 point)

A sequence consists of natural numbers and ends with 0. Determine how many elements of this sequence are greater than the previous element.


INPUT FORMAT:

     A sequence of integers is introduced, ending with the number 0 (the number 0 itself is not included in the sequence, but serves as a sign of its end).
     Each number is entered on a new line.

OUTPUT FORMAT:

     One number, the answer to the problem.

Prompt

     Process the first number before the loop and store it in a separate variable (previous number).
     
 Input:

 1

 3

 5

 0

 Output: 2 ( 3 is greater than 1, 5 is greater than 3)

In [1]:
number = int(input())
cnt = 0
while number != 0:
    prev_number = number
    number = int(input())
    if number > prev_number:
        cnt += 1
print(cnt)

1
2
3
0
2

### Task 4 (1 point)
Given is a string. Your should return a list of all the indexes in the string that have capital letters.

For example, input:("HeLlO") should return the list [0, 2, 4].

In [ ]:
line = input()
new =[]
for i,p in enumerate(line):
    if p.isupper():
        new.append(i)
print(new)

### Task 5 (1.5 points)

You have two lists, the first contains the names of the guests, and the second contains their favorite dishes. You need to print out their preferences so that a sentence like ‚ÄúEric loves borsch‚Äù is displayed. It is guaranteed that the lists are of the same length.

INPUT FORMAT:

     Two lines.
     The first line contains names separated by a space.
     The second line contains the names of the dishes separated by a space.

OUTPUT FORMAT:

     A set of strings like '{name} likes {dish}
     
 Example:

 Line1 = Peter Kate John

 Line2 = Pudding Fish Cake

 Output:

         Peter likes Pudding

         Kate likes Fish
         
         John likes Cake

In [2]:
names = input().split()
food = input().split()
l = ''
for i in range(len(names)):
    print(f'{names[i]} loves {food[i]}')

f h d
r t y
f loves r
h loves t
d loves y

### Task 6 (1.5 points)

üó∫Ô∏è You would be given a map of the world in a type of string:

string s = "01000000X000X011X0X"

'0' : uninfected

'1' : infected

'X' : ocean

‚ö´ The virus can't spread in the other side of the ocean.

‚ö´ If one person is infected every person in this continent gets infected too.

‚ö´ Your task is to find the percentage of human population that got infected in the end.

‚òëÔ∏è Return the percentage % of the total population that got infected.

‚ùó‚ùó The first and the last continent are not connected!

üí° Example:

 start: map1 = "01000000X000X011X0X"

 end:   map1 = "11111111X000X111X0X"

 total = 15

 infected = 11

 percentage = 100*11/15 = 73.33333333333333

‚ûï For maps without oceans "X" the whole world is connected.

‚ûï For maps without "0" and "1" return 0 as there is no population.

In [ ]:
s = input()
for i in s:
    if '0' not in s and '1' not in s:
        percentage=0
s=s.split('X')
infected = 0
total = 0
for i in s:
    total+=len(i)
    if '1' in i:
        infected +=len(i)
if total==0:
    pass
else:
    percentage = 100*infected/total
print(percentage)

The books variable stores a dictionary, the keys of which are the names of the books, and the values are the authors.

Write a program that takes a non-empty string as input and prints out all books for which the entered string is contained either in the title or in the author's name.

The search is case sensitive ("Harry" and "harry" are different queries).

If there is no match, the program does not output anything.

INPUT FORMAT:

Non-empty string
OUTPUT FORMAT:

Authors and titles of books that satisfy the condition, each pair on a new line.
EXAMPLE:

INPUT:

Harry

OUTPUT:

J.K. Rowling: Harry Potter and the Goblet of Fire

Harry Garrison: Indomitable Planet

In [ ]:
books = {'The Silmarillion': 'John Tolkien',
         'Harry Potter and the Goblet of Fire': 'J.K. Rowling',
         'Indomitable Planet': 'Harry Garrison',
         'Man without a face' : 'Alfred Bester',
         'Alice in Wonderland': 'Lewis Carroll',
         "A Space Odyssey": "Arthur Clarke",
         'Dune': 'Frank Herbert',
         "Twenty Thousand Leagues Under the Sea": "Jules Verne",
         "Yankees from Connecticut at the court of King Arthur": "Mark Twain",
         "American Gods": "Neil Gaiman",
         "The Chronicles of Amber": "Roger Zelazny",
         'The Chronicles of Narnia': 'Clive S. Lewis',
         "War of the Worlds": "HG Wells"}
x = input ()
for key, value in books.items ():
    if x in value  or  x in key :
        print (f'{value}: {key}')

Neil
Neil Gaiman: American Gods