In [1]:
print ("Hello")
print(1)
print ('2'+'2'+'fff')
print (1+1)

Hello
1
22fff
2

### Values and Types


A **value** is one of the basic things a program works with, like a letter or a number.

The values above are ***1***, ***"2"*** and ***“Hello”***, ***"fff"***


These values belong to different types: 1 is an **integer**, and “Hello” is a
**string**, so called because it contains a “string” of letters.

Strings are enclosed in quotation marks.


The print statement also works for integers.


Python knows the difference between an integer number and a string.


For example “+” means “addition” if something is a number and “concatenate” if something is a string.


Python knows what “type” everything is.
Some operations are prohibited:


You cannot add integer "1” to a string


We can ask Python what type something is by using **the type() function**.

In [3]:
type(1)

int

In [ ]:
type('hello')

str

In [ ]:
k = 'nice'
type (k)

str

In [9]:
print('Hello' +"1")
k= 1
l= 2
m=3
print("P"+"T"+"D")
print(k+l+m)
p=(k+l)
print (p+m)

Hello1
PTD
6
6

In [ ]:
print(1+2)

3

In [ ]:
"ni"+'ce'

'nice'

### Several Types of Numbers

Numbers have two main types

-  **Integers** are whole numbers:
   -14, -2, 0, 1, 100, 401233


-  **Floating Point Numbers** have  decimal parts:  -2.5 , 0.0, 98.6, 14.0


There are other number types - they are variations on float and integer

In [ ]:
y = 2
print(type(2))
print(type(y))

<class 'int'>
<class 'int'>

When you put an integer and floating point in an expression, the integer is implicitly converted to a float

You can control this with the built-in functions int() and float()

In [10]:
float(42)
int (34.0)

34

In [ ]:
x = float(42)
print(x)
type(x)

42.0

float

In [ ]:
int(3.0)

3

In [ ]:
i = 42
type(i)

int

In [ ]:
f = float(i) ### i = 42, f=float(42)
print(f)
type(f)

42.0

float

In [ ]:
a = 1
type(a)

int

In [16]:
a =1
b = str(a) ### b = str (1)
type(b)
print(b)
print(a+int(b))

1
2

In [22]:
a =8
a = float(a)
print(a)
a = str(a)
print(a)
a=float(a)
print(int(a+5))

8.0
8.0
13

In [24]:
b="1"
print(b)
print('1'+ b) ### "1" and b - strings. That is why concatenation occurs, when two strings merge into one.
a='1'+ b
print(int(a)+5)

1
11
16

In [ ]:
print (1+int(b)) # 1+1

2

### Numeric Expressions


'+'  Addition

'-'	Subtraction

'*'	Multiplication


'/'	Division


'**' Power


'%'	Remainder (always non-negative)

In [ ]:
print(7 % 3) ###
7 - (3*2) остаток от целочисленного деления (remainder of integer division)

1

In [ ]:
11%2 # 11-10

1

In [ ]:
199%5 # 199 - 195

4

In [ ]:
print(9.5 / 2)
print(9.5 // 2) # '//' Special operation to stick with integers. It returns an integer answer,
              #rounded strictly down in case of fractional answers.

4.75
4.0

In [ ]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
139//7

19

### Order of Evaluation

When we string operators together - Python must know which one to do first

This is called “operator precedence”

Which operator “takes precedence” over the others?

x = 1 + 2 ** 3 / 4 * 5

Highest precedence rule to lowest precedence rule:

Parentheses are always respected

Exponentiation (raise to a power)

Multiplication, Division, and Remainder

Addition and Subtraction

Left to right

In [ ]:
x = 1 + 2 ** 3 / 4 * 5  # 2**3 =8, 8|4 = 2, 2*5 = 10, 1+10 =11
print (x)

11.0

### Converting between types

**int()**     converts anything to integer

**float()**    converts anything to floating point number

**str()**      converts anything to string

In [ ]:
x = int('5')
print(x)
print(2 + int('5'))
print(str(5))
print(float(5))

5
7
5
5.0

In [ ]:
print(type(str(5647)))

<class 'str'>

In [ ]:
x = str(5647)
type(x)

str

In [ ]:
a = str(1+3)
print(a)
type(a)

4

str

### Task

Given are an integer 5 and a string '55':

1. convert a string into an integer
2. find the sum of both integers

In [ ]:
a = 5
b = int('55')
print(a+b)

60

In [ ]:
print(5+int('55'))

60

# Task

Given are two integers  7 and 7
1. covert integers into strings
2. concatenate two strings

In [ ]:
print(str(7)+str(7))

77

In [ ]:
print (str (7+7))

14

### User Input

We can instruct Python to pause and read data from the user using **the input()  function.

!!! The input()  function returns a string !!!

In [28]:
name = input('Who are you? ')
type(name)

Who are you? Marta

str

In [29]:
print('Welcome,', name + '!')

Welcome, Marta!

In [30]:
x = input()

fghjkdh

In [31]:
x = int(input())
type(x)

4565

int

In [33]:
x = input()
x=int(x)
type(x)

4565

int

### Converting User Input
If we want to read a number from the user, we must convert it from a string to a number using a type conversion function.

In [34]:
eu = input ('Distance in km? ')
us = int(eu)/ 1.609344
print ('Distance in miles', us)

Distance in km? 10
Distance in miles 6.2137119223733395

In [35]:
eu = int(input ('Distance in km? '))
us = eu/ 1.609344
print ('Distance in miles', us)

Distance in km? 10
Distance in miles 6.2137119223733395

In [36]:
eu = int(input ('Distance in km? '))
print ('Distance in miles', (eu/1.609344))

Distance in km? 10
Distance in miles 6.2137119223733395

In [ ]:
eu = int(input ('Distance in km? '))
us = eu/ 1.609344
print ('Distance in miles', us)

Distance in km? 100
Distance in miles 62.13711922373339

### Task

Write a program to prompt the user for hours and rate per hour to compute gross pay.

Enter Hours: 35

Enter Rate: 2.75

Pay: 96.25

In [38]:
Hours = int(input("Enter hours "))
Rate = float(input("Enter rate "))
Pay = Hours * Rate
print('Pay:', Pay)

Enter hours 10
Enter rate 4.5
Pay: 45.0

In [39]:
Hours = int(input("Enter hours "))
Rate = float(input("Enter rate "))
print('Pay:', Hours*Rate)

Enter hours 10
Enter rate 5
Pay: 50.0

### Task

Write a program that asks the user from the keyboard his height in centimeters, his weight in kilograms (each indicator - a new line, in a new query) and returns the following message:

Body mass index: [value].

where  [value] is the calculated value of the body mass index.

The body mass index is calculated in the following way:

BMI=m/h2

where m is body weight in kilograms, h is height in meters.